@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:wght@600&display=swap');
.App{
    font-family: "Nunito", sans-serif;
}

.container {
    border: 1px solid black;
    width: 800px;
    height: 800px;
}

.sticky-holder {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: relative;
    height: 100%;
    width: 100%;
}

.sticky-holder-container {
    position: relative;
    height: 600px;
    width: 800px;
    border: solid black;
}