$color-primary: #2A6BF9;;
$color-dark-gray: #565656;
$color-secondary-two: #718096;
$color-secondary-three: #e2e8f0;
$color-secondary-four: #48bb78;
$color-secondary-six: #48bb7833;
$color-black: #000000;
$color-border: #E7E8F2;
$color-gray: #9E9E9E;;
$color-gray-light: #D7DFE9;
$color-gray-lighter: #F6F6F6;
$color-white-light: #FAFAFF;
$color-white: #ffffff;
$color-info: #2f80ed;
$color-green: #27ae60;
$color-light-green: #7FFF00;
$color-orange: #e2b93b;
$color-warning: #ff6712;
$color-warning-two: #ff671233;
$color-error: #e53e3e;
$color-button-hover: #665cdc;
$color-button-disabled: rgba(77, 68, 181, 0.7);
$color-red: #ff4949;
$color-shadow-image: rgba(0, 0, 0, 0.15);
$color-gray-light-two: #c3cad2;
$color-gray-light-three: #e7f3ec;
$color-white-two: #f8f8f8;
$color-light-warning: #fbc756;
$color-secondary-five: #44be77;
$color-white-three: #f7fff7;
$color-gray-four: #4f5c70;
$color-primary-two: #8b82ff;
$color-shadow-button: rgba(231, 228, 255, 1);
$color-black-modal: rgba(0, 0, 0, 0.3);
$sidebar-background: linear-gradient(175.73deg, #4d44b5 25.84%, #3c32ad 74.69%);
$sidebar-boxshadow: rgba(0, 0, 0, 0.02);
$color-light-grey: #f5f5f5;
$color-yellow-light: #fffacd;
$color-primary-red: #ff0000;
$color-transparent: transparent;
$color-black-light: #404752;
$color-gray-two: #d2dae3;
$color-bg-table: #fbfff5;
$color-sky: #6FBBEF;
$color-sky-light: #a0c3ff;
$color-black-deep: rgba(0, 0, 0, 0.1);
$color-white-four: #fff1f1;
$color-purple: #9548b9;
$color-purple-two: #9546b933;
$color-gray-five: #e9eef5;
$color-white-five: #e7ebfb;
$color-purple: #9548b9;
$color-purple-two: #9546b933;
$color-blueberry: #4339b4;
$color-seaweed-green: #32ab64;
$color-persian-red: #cf2e2e;
$color-ebony-clay: #212c40;
$color-burning-orange: #ff7527;
$color-white-six: #f2fff8;
$color-purple-two: #9546b933;
$color-purple-three: #9548b933;
$color-lighter-gray: rgba(113, 128, 150, 0.2);
$color-baltic-sea: #26252e;
$color-light-warn: #ff37002d;
$color-transparent-blue: #d8dffb;
$color-cyan-blue: #f2f9ff;
$color-mercury: #e6e7ec;
$color-clear-blue: #1f70ff;
$color-green-white: #e8e8e8;
$color-lavender-mist: #dbebff;
$color-aqua-haze: #f0f3f5;
$color-grey-goose: #d1d1d1;
$color-dune: #333333;
$color-gray-cloud: #e0e0e0;
$color-black-op03: #0000004d;
$color-catskill-white: #f4f4f4;